version: '2'
services:

    web:
        build: .
        ports:
            - "8000:80"
        restart: always
        volumes:
            - "./www/:/var/www/html"
        links:
            - "mongodb"

    mongodb:
        image: mongo:latest
         
        restart: always
        ports:
            - "27020:27017"
        command: --storageEngine wiredTiger